<div class="top-nav">
  <div class="left">
    <p><i class="fa fa-phone"> +0123 456 789</i></p>
    <p>|</p>
    <p><i class="fa fa-envelope-o"> support@qwilo.com</i></p>
  </div>
  <div class="right-1">
    <p><a href="#"><i class="fa fa-lock"> Login</i></a></p>
    <p>/</p>
    <p><a href="#"><i class="fa fa-user"> Register</i></a></p>
    <p>|</p>
    <p><a href="3"><i class="fa fa-comments-o"> Free Consulting</i></a></p>
  </div>
</div>

<div class="nav">
  <div class="logo">
    <img src="assets/image/logo.jpg" alt="logo" />
  </div>
  <div class="menu">
    <ul>
      <li><button routerLink="home" routerLinkActive="active">HOME</button></li>
      <li>
        <button routerLink="about" routerLinkActive="active">ABOUT US</button>
      </li>
      <li>
        <button routerLink="service" routerLinkActive="active">SERVICES</button>
      </li>
      <li>
        <button routerLink="pricing" routerLinkActive="active">PRICING</button>
      </li>
      <li>
        <button routerLink="contect" routerLinkActive="active">
          CONTECT US
        </button>
      </li>
      <li>
        <button routerLink="portfolio" routerLinkActive="active">
          PORTFOLIO
        </button>
      </li>
    </ul>
  </div>
 
</div>

<router-outlet></router-outlet>
