<div class="home">
  <div class="move-btn">
    <a href="#top">
      <i class="fa fa-arrow-circle-o-up"></i>
    </a>
  </div>

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/image/1.jpg"
          width="100%"
          height="auto"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h1>Creat + Work +Inspier</h1>
        <br />
        <p>growingbusiness</p>
        <br />
        <button class="btn btn-info">Read More</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/image/2.jpg"
          width="100%"
          height="auto"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-caption">
        <h1>Ideas. Input. Result.</h1>
        <br />
        <p>fastbusiness</p>
        <br />
        <button class="btn btn-info">Read More</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/image/3.jpg"
          width="100%"
          height="auto"
          alt="Random third slide"
        />
      </div>
      <div class="carousel-caption">
        <h1>Creative + Unique + Wow</h1>
        <br />
        <p>improvebusiness</p>
        <br />
        <button class="btn btn-info">Read More</button>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="part2">
    <h1>What We Do</h1>
    <p class="line"></p>
    <br />
    <p>
      Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an
      unknownshil printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries.
    </p>
    <div class="row">
      <div class="card1 col">
        <div class="hover1">
          <img src="assets/image/card1.png" />
        </div>
        <h3>Web Designing</h3>
        <p>
          Text of the Lorem Ipsum is Simply dummy printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy.
        </p>
      </div>
      <div class="card2 col">
        <div class="hover1">
          <img src="assets/image/card2.png" />
        </div>
        <h2>Development</h2>
        <p>
          Simply dummy text of the Lorem Ipsum is printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy.
        </p>
      </div>
      <div class="card3 col">
        <div class="hover1">
          <img src="assets/image/card3.png" />
        </div>
        <h2>Friendly Support</h2>
        <p>
          Standard dummy text ever since the 1500s, is printing and typesetting
          industry. Lorem Ipsum has been the industry's standard.
        </p>
      </div>
    </div>
  </div>
  <div class="bgblur" style=" background-image: url('assets/image/divar.jpg');">
    <div class="part3">
      <h1>Why Choose Us</h1>
      <p class="line" style="width: 50px"></p>
      <br />
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book.
      </p>
      <div class="row">
        <div class="image col">
          <div class="video">
            <img src="assets/image/part3.jpg" />
            <a href="#"><i class="fa fa-play"></i></a>
          </div>
          <p>
            <i
              >Lorem Ipsum has been the industry's standard dummy text ever
              since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.<b>
                Lorem Ipsum has been the industry's standard dummy text
              </b>
              ever since the 1500s.</i
            >
          </p>
          <br />
          <button class="btn" id="part3-btn" style="padding: 7px">
            About Us
          </button>
        </div>
        <div class="text col">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <br />
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
          <br />
          <p>
            <i class="fa fa-check" style="color: lime"></i> Simply dummy text of
            the Lorem Ipsum is printing and type setting.
          </p>
          <br />
          <p>
            <i class="fa fa-check" style="color: lime"></i> Dummy text of the
            printing and typesetting industry.
          </p>
          <br />
          <p>
            <i class="fa fa-check" style="color: lime"></i> Text of the printing
            and typesetting industry Lorem Ipsum has been.
          </p>
          <br />
          <p>
            <i class="fa fa-check" style="color: lime"></i> Ipsum has been the
            industry's standard dummy since the 1500s,
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="part3 row">
    <div class="col">
      <h1>Qwilo is the Most Creative Template</h1>
      <p class="line" style="width: 50px"></p>
      <br />
      <br />
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book.<b>
          Lorem Ipsum has been the industry's standard dummy text
        </b>
        ever since the 1500s.
      </p>
      <br />
      <p>
        <i
          >Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took
          a galley of type and scrambled it to make a type specimen book.</i
        >
      </p>
    </div>
    <div class="col">
      <img src="assets/image/mac.jpg" width="605px" />
    </div>
  </div>
  <div class="part4 row">
    <div class="tex1 col">
      <h1>Our Mission</h1>
      <p class="line" style="width: 50px"></p>
      <br />
      <p>
        Standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <br />
      <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="img1 col">
      <img src="assets/image/part41.jpg" width="200px" height="200px" />
    </div>
    <div class="tex1 col">
      <h1>Our Vision</h1>
      <p class="line" style="width: 50px"></p>
      <br />
      <p>
        Standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <br />
      <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="img2 col">
      <img src="assets/image/part42.jpg" width="200px" height="200px" />
    </div>
  </div>
<div class="part5">
    <h1>Our Portfolio</h1>
    <p class="line" style="width: 50px"></p>
    <br />
    <p>
      Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an
      unknownshil printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries.
    </p>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <div class="menu">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              ALL
            </button>
          </h2>
          <h2 class="accordion-header" id="headingTow">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTow"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              PHOTOGRAPHY
            </button>
          </h2>
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              BRANDING
            </button>
          </h2>
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              WEB DESIgN
            </button>
          </h2>
          <h2 class="accordion-header" id="headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              ILLUSTRATION
            </button>
          </h2>
        </div>
     
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col photography">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part51.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col branding">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part52.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col webdesign">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part53.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col illustration">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part54.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col photography">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part55.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col branding">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part56.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col webdesign">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part57.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col illustration">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part58.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="collapseTow"
        class="accordion-collapse collapse"
        aria-labelledby="headingTow"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part51.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part55.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part52.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part56.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part53.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part57.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part54.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="hover2">
                <img
                  class="img-hover"
                  src="assets/image/part58.jpg"
                  width="300px"
                  height="250px"
                />
                <div class="hover">
                  <a href="#">Web Design</a>
                  /
                  <a href="#">Graphic</a>
                  <h4><a href="#">Portfolio Dashbord</a></h4>
                  <div class="link-btn">
                    <a class="link-btn-a1" href="#"><i class="fa fa-link"></i></a>
                    <a class="link-btn-a1" href="assets/image/part51.jpg"
                      ><i class="fa fa-arrows-alt"></i
                    ></a>
                    <a class="link-btn-a2" href="#"><i class="fa fa-heart">125</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="part6">
      <div class="nav6">
        <h1>Our Great Features</h1>
        <p class="line" style="width: 50px"></p>
        <br />
        <p>
          Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an
          unknownshil printer took a galley of type and scrambled it to make a
          type specimen book. It has survived not only five centuries.
        </p>
      </div>
      <div class="row">
        <div class="left col">
          <div class="left-1">
            <div class="tex-1">
              <h3>Powerful Theme</h3>
              <br />
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown.
              </p>
            </div>
            <div class="icon-1">
              <a href="#"><i class="fa fa-tv"></i></a>
            </div>
          </div>
          <div class="left-1">
            <div class="tex-1">
              <h3>Easy to Customize</h3>
              <br />
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown.
              </p>
            </div>
            <div class="icon-1">
              <a href=""><i class="fa fa-tachometer"></i></a>
            </div>
          </div>
          <div class="left-1">
            <div class="tex-1">
              <h3>Clean Code</h3>
              <br />
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown.
              </p>
            </div>
            <div class="icon-1">
              <a href=""><i class="fa fa-list"></i></a>
            </div>
          </div>
        </div>
        <div class="center col">
          <img src="assets/image/part6.jpg" />
        </div>
        <div class="right col">
          <div class="right-1">
            <div class="icon-2">
              <a href=""><i class="fa fa-square-o"></i></a>
            </div>
            <div class="tex-2">
              <h3>Powerful Theme</h3>
              <br />
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown.
              </p>
            </div>
          </div>
          <div class="right-1">
            <div class="icon-2">
              <a href=""><i class="fa fa-sliders"></i></a>
            </div>
            <div class="tex-2">
              <h3>Easy to Customize</h3>
              <br />
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown.
              </p>
            </div>
          </div>
          <div class="right-1">
            <div class="icon-2">
              <a href=""><i class="fa fa-magic"></i></a>
            </div>
            <div class="tex-2">
              <h3>Clean Code</h3>
              <br />
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="part7">
      <h1>Meet Our Creativ Team</h1>
      <p class="line" style="width: 50px"></p>
      <br />
      <p>
        Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an
        unknownshil printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries.
      </p>
      <div class="row">
        <div class="part7-card col">
          <img src="assets/image/part71.jpg" alt="fist" />
          <h5><a href="#">Rinks Cooper</a></h5>
          <h6>CEO,Qwilo</h6>
          <div class="card-icon">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
        <div class="part7-card col">
          <img src="assets/image/part72.jpg" alt="fist" />
          <h5><a href="#">JD Scot</a></h5>
          <h6>CEO,Qwilo</h6>
          <div class="card-icon">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
        <div class="part7-card col">
          <img src="assets/image/part73.jpg" alt="fist" />
          <h5><a href="#">Haris Morgan</a></h5>
          <h6>CEO,Qwilo</h6>
          <div class="card-icon">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
        <div class="part7-card col">
          <img src="assets/image/part74.jpg" alt="fist" />
          <h5><a href="#">Nik Jorden</a></h5>
          <h6>CEO,Qwilo</h6>
          <div class="card-icon">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="part8">
      <h1>Our Pricing</h1>
      <p class="line" style="width: 50px"></p>
      <br />
      <p>
        Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an
        unknownshil printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries.
      </p>
      <div class="row">
        <div class="first col">
          <hr />
          <p>Photoshop</p>
          <hr />
          <P>HTML5 & CSS 3</P>
          <hr />
          <P>Wordpress</P>
          <hr />
          <P>Javascript</P>
          <hr />
          <P>Animation</P>
        </div>
        <div class="second col">
          <button class="btn">Start Up</button>
          <p>Starting at</p>
          <h1>1.99<span style="font-size: 20px">$</span></h1>
          <p>Monthly</p>
          <hr />
          <p><i class="fa fa-times-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-times-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-times-circle-o"></i></p>
          <button class="button">Choose Package</button>
        </div>
        <div class="second col">
          <button class="btn active">Start Up</button>
          <p>Starting at</p>
          <h1 class="active">9.99<span style="font-size: 20px">$</span></h1>
          <p>Monthly</p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-times-circle-o"></i></p>
          <button class="button active">Choose Package</button>
        </div>
        <div class="second col">
          <button class="btn">Start Up</button>
          <p>Starting at</p>
          <h1>45.99<span style="font-size: 20px">$</span></h1>
          <p>Monthly</p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <hr />
          <p><i class="fa fa-check-circle-o"></i></p>
          <button class="button">Choose Package</button>
        </div>
      </div>
    </div>
    <div class="part9">
      <h1>Testimonial</h1>
      <p class="line" style="width: 50px"></p>
      <p style="margin: 25px">
        Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an
        unknownshil printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries.
      </p>
      <div class="slide-comment">
        <div class="comment1">
          <owl-carousel-o [options]="commentCard">
            <ng-template carouselSlide>
              <div class="comment2">
                <div class="paregraph">
                  <p>
                    Simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley.
                  </p>
                </div>
                <div class="comment-bottum">
                  <div class="circul-img">
                    <img src="assets/image/part72.jpg" />
                  </div>
                  <div class="rate">
                    <h5>JD Scote</h5>
                    <p>CEO,Qwilo</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="comment2">
                <div class="paregraph">
                  <p>
                    Dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since
                    the 1500s, when an unknown printer took a galley of type and
                    scrambled.
                  </p>
                </div>
                <div class="comment-bottum">
                  <div class="circul-img">
                    <img src="assets/image/part73.jpg" />
                  </div>
                  <div class="rate">
                    <h5>Haris Morgan</h5>
                    <p>CEO,Qwilo</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="comment2">
                <div class="paregraph">
                  <p>
                    Text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and
                    scrambled.
                  </p>
                </div>
                <div class="comment-bottum">
                  <div class="circul-img">
                    <img src="assets/image/part74.jpg" />
                  </div>
                  <div class="rate">
                    <h5>Nik Jorden</h5>
                    <p>CEO,Qwilo</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="comment2">
                <div class="paregraph">
                  <p>
                    Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled.
                  </p>
                </div>
                <div class="comment-bottum">
                  <div class="circul-img">
                    <img src="assets/image/part71.jpg" />
                  </div>
                  <div class="rate">
                    <h5>Rinks Cooper</h5>
                    <p>CEO,Qwilo</p>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <div class="part10">
      <h1>Our Recent Blog</h1>
      <p class="line" style="width: 50px"></p>
      <br />
      <p>
        Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an
        unknownshil printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries.
      </p>
      <div class="photo-card">
        <owl-carousel-o [options]="cardpolicy">
          <ng-template carouselSlide>
            <div class="photo-card-1">
              <div class="photo-card-img">
                <div class="photo-card-hover-1">
                  <div class="date">
                    <p>12</p>
                    <p>AUG</p>
                  </div>
                  <div class="photos">
                    <p><i class="fa fa-photo"></i>Photos</p>
                  </div>
                </div>
                <img src="assets/image/part101.jpg" alt="1" />
              </div>
              <div class="photo-card-text">
                <a href="#"><h5>Blogpost With Image</h5></a>
                <p>
                  Quae laboriosam sunt consectetur, assumenda provident lorem
                  ipsum dolor sit amet, consectetur adipisicing elit. hic
                  perspiciatis.
                </p>
                <ul class="photo-card-icon">
                  <li>
                    <a href="#"><i class="fa fa-user"> Qwilo</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-heart"> 6 like</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-comments"> 9 comments</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="photo-card-1">
              <div class="photo-card-img">
                <div class="photo-card-hover-1">
                  <div class="date">
                    <p>12</p>
                    <p>AUG</p>
                  </div>
                  <div class="photos">
                    <p><i class="fa fa-photo"></i>Photos</p>
                  </div>
                </div>
                <img src="assets/image/part102.jpg" alt="1" />
              </div>
              <div class="photo-card-text">
                <a href="#"><h5>Blogpost With Image</h5></a>
                <p>
                  Quae laboriosam sunt consectetur, assumenda provident lorem
                  ipsum dolor sit amet, consectetur adipisicing elit. hic
                  perspiciatis.
                </p>
                <ul class="photo-card-icon">
                  <li>
                    <a href="#"><i class="fa fa-user"> Qwilo</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-heart"> 6 like</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-comments"> 9 comments</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="photo-card-1">
              <div class="photo-card-img">
                <div class="photo-card-hover-1">
                  <div class="date">
                    <p>12</p>
                    <p>AUG</p>
                  </div>
                  <div class="photos">
                    <p><i class="fa fa-photo"></i>Photos</p>
                  </div>
                </div>
                <img src="assets/image/part103.jpg" alt="1" />
              </div>
              <div class="photo-card-text">
                <a href="#"><h5>Blogpost With Image</h5></a>
                <p>
                  Quae laboriosam sunt consectetur, assumenda provident lorem
                  ipsum dolor sit amet, consectetur adipisicing elit. hic
                  perspiciatis.
                </p>
                <ul class="photo-card-icon">
                  <li>
                    <a href="#"><i class="fa fa-user"> Qwilo</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-heart"> 6 like</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-comments"> 9 comments</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="photo-card-1">
              <div class="photo-card-img">
                <div class="photo-card-hover-1">
                  <div class="date">
                    <p>12</p>
                    <p>AUG</p>
                  </div>
                  <div class="photos">
                    <p><i class="fa fa-photo"></i>Photos</p>
                  </div>
                </div>
                <img src="assets/image/part104.jpg" alt="1" />
              </div>
              <div class="photo-card-text">
                <a href="#"><h5>Blogpost With Image</h5></a>
                <p>
                  Quae laboriosam sunt consectetur, assumenda provident lorem
                  ipsum dolor sit amet, consectetur adipisicing elit. hic
                  perspiciatis.
                </p>
                <ul class="photo-card-icon">
                  <li>
                    <a href="#"><i class="fa fa-user"> Qwilo</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-heart"> 6 like</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-comments"> 9 comments</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>

    <div class="part11">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide
          ><img src="assets/image/part111.jpg" alt="#"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="assets/image/part112.jpg" alt="#"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="assets/image/part113.jpg" alt="#"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="assets/image/part114.jpg" alt="#"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="assets/image/part115.jpg" alt="#"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="assets/image/part116.jpg" alt="#"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="assets/image/part117.jpg" alt="#"
        /></ng-template>
        <ng-template carouselSlide
          ><img src="assets/image/part118.jpg" alt="#"
        /></ng-template>
      </owl-carousel-o>
    </div>

    <div class="footer">
      <img src="assets/image/logo.jpg" alt="#" />
      <div class="footer-menu">
        <ul>
          <li><a routerLink="home">HOME</a></li>
          <li><a routerLink="about">ABOUT US</a></li>
          <li><a routerLink="service">SERVICES</a></li>
          <li><a routerLink="pricing">PRICING</a></li>
          <li><a routerLink="contect">CONTECT US</a></li>
          <li><a routerLink="portfolio">PORTFOLIO</a></li>
        </ul>
      </div>
      <div class="footer-text">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry lorem Ipsum has been the industry's.Lorem Ipsum is simply
          dummy text of the printing and typesetting industry lorem Ipsum has
          been the industry's.
        </p>
      </div>
      <div class="row">
        <div class="col" style="color: aliceblue">
          ------------------------------------------------------------
        </div>
        <div class="col">
          <p style="color: white">Copyright Qwilo All Rights Reserved</p>
        </div>
        <div class="col" style="color: aliceblue">
          ------------------------------------------------------------
        </div>
      </div>
      <div class="footer-icon">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa- fa fa-instagram"></i>
      </div>
    </div>
  </div>

