<div class="part5 row">
    <div class="part5-logo col">
      <img src="assets/image/logo.jpg" alt="#" />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s.
      </p>
      <div class="part5-box">
        <p class="part5-box-p1" style="color: #02c366">Working Days</p>
        <p><b>MON - FRI</b>>: 09AM - 05PM</p>
        <p><b>Sat</b>: 09AM - 01PM</p>
        <p><b>SUN</b>: Enjoy Day</p>
      </div>
    </div>
    <div class="col">
      <h1>Menu</h1>
      <p class="line" style="width: 50px"></p>
      <div class="part5-menu">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Services</a>
        <a href="#">Pricing</a>
        <a href="#">Contect Us</a>
      </div>
    </div>
    <div class="col">
      <h1>Popular Posts</h1>
      <p class="line" style="width: 50px"></p>
      <div class="row">
        <div class="col-4">
          <img src="assets/image/about/part91.jpg" width="74px" height="74px" alt="#">
        </div>
        <div class="col-8" style="height: 74px;">
          <p style="margin: 0;">Ipsum is simply dummy text.</p>
          <p style="color: #02c366; margin: 0;"><i class="fa fa-calendar"></i> Nov 10, 2016</p>
        </div>
        <p style="margin: 0px 15px;">----------------------------------------</p>
      </div>
      <div class="row">
        <div class="col-4">
          <img src="assets/image/about/part92.jpg" width="74px" height="74px" alt="#">
        </div>
        <div class="col-8" style="height: 74px;">
          <p style="margin: 0;">Ipsum is simply dummy text.</p>
          <p style="color: #02c366; margin: 0;"><i class="fa fa-calendar"></i> Nov 10, 2016</p>
        </div>
        <p style="margin: 10px 15px;">----------------------------------------</p>
      </div>
      <div class="row">
        <div class="col-4">
          <img src="assets/image/about/part93.jpg" width="74px" height="74px" alt="#">
        </div>
        <div class="col-8" style="height: 74px;">
          <p style="margin: 0;">Ipsum is simply dummy text.</p>
          <p style="color: #02c366; margin: 0;"><i class="fa fa-calendar"></i> Nov 10, 2016</p>
        </div>
      </div>
    </div>
    <div class="col">
      <h1>Recent Works</h1>
      <p class="line" style="width: 50px"></p>
      <div class="part5-img">
           <a href="assets/image/about/part94.jpg"><img src="assets/image/about/part94.jpg" alt="#"></a>
           <a href="assets/image/about/part95.jpg"><img src="assets/image/about/part95.jpg" alt="#"></a>
           <a href="assets/image/about/part96.jpg"><img src="assets/image/about/part96.jpg" alt="#"></a>
           <a href="assets/image/about/part97.jpg"><img src="assets/image/about/part97.jpg" alt="#"></a>
           <a href="assets/image/about/part94.jpg"><img src="assets/image/about/part94.jpg" alt="#"></a>
           <a href="assets/image/about/part95.jpg"><img src="assets/image/about/part95.jpg" alt="#"></a>
           <a href="assets/image/about/part96.jpg"><img src="assets/image/about/part96.jpg" alt="#"></a>
           <a href="assets/image/about/part97.jpg"><img src="assets/image/about/part97.jpg" alt="#"></a>
           <a href="assets/image/about/part94.jpg"><img src="assets/image/about/part94.jpg" alt="#"></a>
      </div>
    </div>
    <p style="margin: 20px 30px;">_________________________________________________________________________________________________________________________________________________________________________</p>
    <div class="part5-footer row">
      <div class="part5-icon col-3">
        <i class="fa fa-phone"></i>
        <div class="part5-phone">
          <h2>Phone</h2>
          <p>+0123 456 789</p>
        </div>
      </div>
      <div class="part5-icon col-3">
        <i class="fa fa-envelope-o"></i>
        <div class="part5-phone">
          <h2>Mail</h2>
          <p>mail@qwilo.com</p>
        </div>
      </div>
      <div class="part5-icon col-5">
        <i class="fa fa-map-marker"></i>
        <div class="part5-phone">
          <h2>Address</h2>
          <p>1234 North Luke Lane, South Bend, IN 360001</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer row" style="margin: 0;">
    <div class="footer-text col-6">
      <p>Copyright 2021 <a href="#" style="color: #02c366; text-decoration: none;">Qwilo</a> All Rights Reserved</p>
    </div>
    <div class="footer-icon col-6">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-google"></i></a>
      <a href=""><i class="fa fa-github"></i></a>
    </div>
  </div>