<div class="move-btn">
  <a href="#top">
    <i class="fa fa-arrow-circle-o-up"></i>
  </a>
</div>

<div class="part1" id="top" style="background-image: url('assets/image/part41.jpg');">
  <h1>Pricing</h1>
  <div class="part1-right">
    <a href="#"><i class="fa fa-home"></i>Home</a>
    /
    <p style="color: #02c366; margin: 0">Pricing</p>
  </div>
</div>
<div class="part2 row">
    <div class="part2-1 col">
      <div class="part2-line">
        <i class="fa fa-map-marker"></i>
        <h2>Address</h2>
        <p>1234 North Luke Lane, South Bend, IN 360001</p>
        </div>
      </div>
  <div class="part2-1 col">
    <i class="fa fa-phone"></i>
    <h2>Phone</h2>
    <p>+0123 456 789</p>
    <p>Mon-Fri 8:00am - 8:00pm</p>
  </div>
  <div class="part2-1 col">
    <i class="fa fa-envelope-o"></i>
    <h2>Mail</h2>
    <p>mail@qwilo.com</p>
    <p>24 X 7 online support</p>
  </div>
</div>
<div class="part3">
  <div class="row">
    <div class="col-6">
      <!-- <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map> -->
    </div>
    <div class="part3-form col-6">
      <h1>Get in Touch</h1>
      <p class="line"></p>
      <form [formGroup]="loginform">
        <input type="text" placeholder="Name*" formControlName="name"><br>
        <input type="email" placeholder="Email*" formControlName="email"><br>
        <input type="phone" placeholder="Phone*" formControlName="phone"><br>
        <textarea type="text" placeholder="Comment*" formControlName="comment"></textarea><br>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>

<div class="part4">
  <div class="part4-1">
    <h3>Qwilo is the Most <b style="color: black">Creative</b> Template</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries
    </p>
  </div>
  <a href="#">Read More</a>
</div>

<app-footer></app-footer>